body {
  background: linear-gradient(to right, rgb(177, 56, 168), rgb(250, 116, 5));
}

.title,
.subtitle {
  font-family: 'Kanit', sans-serif;
  color: black;
}

.title {
  letter-spacing: 0.4em;
}

.subtitle {
  letter-spacing: 0.2em;
}

.color1,
.color2 {
  width: 3em;
  height: 3em;
}

.current-bg {
  font-family: 'Source Code Pro', monospace;
  color: white;
}

.random-btn {
  color: black;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.random-btn:hover {
  background: steelblue;
  border: 1px solid steelblue;
  color: white;
  transform: scale(1.1);
}
